.allChatchesMap {
   width:calc(100% - 20px);
   height: 50vh;
   margin: 10px;
}
 #info {
   display: block;
   position: relative;
   float: left;
   margin: 0px auto;
   width: 30%;
   padding: 10px;
   border: none;
   border-radius: 3px;
   font-size: 12px;
   text-align: center;
   color: #222;
}
.links{
   text-decoration: none;
   color: #222;
}
.NewCatchContainer{
   display: flex;
   justify-content: center;
}
/*
.markerBtn {
   background: none;
   border: none;
   cursor: pointer;
}

.markerBtn img {
   width: 20px;
   height: 20px;
}

.markerBtn:focus {
   outline: none;
}

.markerPopup {
   width: 100%;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
   border-radius: 10px;
   cursor: default;
}

.mapboxgl-popup-close-button:focus {
   outline: none;
}

.popupPost-img {
   width: 100%;
   max-height: 165px;
   margin-bottom: 0.5rem;
}

.markerPopup-info {
   padding: 0 20px 10px 20px;
}

.mapboxgl-popup-content {
   padding: 0;
}

.mapboxgl-popup-close-button {
   background-color: white;
   border-bottom-left-radius: 5px;
}
 */
