.allChatchesMap {
   width: calc(100% - 20px);
   height: 50vh;
   margin: 10px;
}

.links {
   text-decoration: none;
   color: #222;
}
.NewCatchContainer {
   display: flex;
   justify-content: center;
}
